on:
  workflow_call:
    inputs:
      dockerFilePath:
        required: true
        type: string
      dockerContext:
        required: false
        type: string
        default: .

jobs:
  docker:
    name: Docker Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          file: ${{ inputs.dockerFilePath }}
          context: ${{ inputs.dockerContext }}
          push: false
