on:
  workflow_call:
    inputs:
      dockerFilePath:
        required: true
        type: string
      dockerContext:
        required: false
        type: string
        default: .

jobs:
  docker:
    name: Docker Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          file: ${{ inputs.dockerFilePath }}
          context: ${{ inputs.dockerContext }}
          push: false
