on:
  workflow_call:
    inputs:
      golangProjectDir:
        required: false
        type: string
        default: .
        description: path of the Golang project, relative to the root of the repository
      goVersion:
        required: false
        type: string
        default: "1.22"
      ignoreErrors:
        required: false
        type: boolean
        default: false
        description: whether or not to ignore errors
      buildCommand:
        required: false
        type: string
        default: "make build"
        description: a CLI command to build the project
      testCommand:
        required: false
        type: string
        default: "make unit-tests"
        description: a CLI command to unit-test the project
    secrets:
      CODECOV_TOKEN:
        required: true
env:
  CHECK_NAME: Golang checks

jobs:
  golang:
    name: Build and test
    runs-on: ubuntu-latest
    permissions:
      contents: read # Required: allow read access to the content for analysis.
      pull-requests: read # Optional: allow read access to pull request. Use with `only-new-issues` option.
      checks: write # Optional: allow write access to checks to allow the action to annotate code in the PR.
      statuses: write # needed for setting the status of the PR
    defaults:
      run:
        working-directory: ${{ inputs.golangProjectDir }}

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Set status pending
        if: github.event_name == 'pull_request' || github.event_name == 'pull_request_target'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh api --method POST -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" \
            /repos/${{ github.repository }}/statuses/${{ github.event.pull_request.head.sha }} \
            -f "state=pending" -f "description=Golang checks are running" \
            -f "context=${{ env.CHECK_NAME }}"

      - name: Checkout reusable-workflows repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          repository: dnlopes/github-workflows
          path: actions

      - name: Install tools
        uses: ./actions/.github/actions/install-common-tools
        with:
          goVersion: ${{ inputs.goVersion }}

      - name: Dependencies
        run: go get .
        working-directory: ${{ inputs.golangProjectDir }}

      - name: Build
        run: ${{ inputs.buildCommand }}
        working-directory: ${{ inputs.golangProjectDir }}

      - name: Test
        run: go test -race -coverprofile=coverage.out -covermode=atomic
        working-directory: ${{ inputs.golangProjectDir }}

      - uses: codecov/codecov-action@18283e04ce6e62d37312384ff67231eb8fd56d24 # v5
        name: Upload coverage to Codecov
        with:
          fail_ci_if_error: true
          verbose: true
          directory: ${{ inputs.golangProjectDir }}
        env:
          CODECOV_TOKEN: "${{ secrets.CODECOV_TOKEN }}"

      - name: Golangci-lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8
        continue-on-error: true
        with:
          version: latest
          working-directory: ${{ inputs.golangProjectDir }}

      - name: Set status success
        if: ${{ (success() || inputs.IgnoreErrors == true) && (github.event_name == 'pull_request' || github.event_name == 'pull_request_target') }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh api --method POST -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" \
            /repos/${{ github.repository }}/statuses/${{ github.event.pull_request.head.sha }} \
            -f "state=success" -f "description=Golang checks were successful" \
            -f "context=${{ env.CHECK_NAME }}"

      - name: Set status failure
        if: ${{ (failure() && inputs.IgnoreErrors == false) && (github.event_name == 'pull_request' || github.event_name == 'pull_request_target') }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh api --method POST -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" \
            /repos/${{ github.repository }}/statuses/${{ github.event.pull_request.head.sha }} \
            -f "state=failure" -f "description=Golang checks failed validations!" \
            -f "context=${{ env.CHECK_NAME }}"
