name: Release
on:
  push:
    branches:
      - main

concurrency:
  group: release
  cancel-in-progress: false

jobs:
  release_drafter:
    name: Create
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@b1476f6e6eb133afa41ed8589daba6dc69b4d3f5 # v6
        id: draft_release
        with:
          config-name: release-drafter.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish Release
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run: gh release edit "${{ steps.draft_release.outputs.tag_name }}" --draft=false --latest

      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Update major/minor tags
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run: |
          version="${{ steps.draft_release.outputs.tag_name }}"
          majorVersion=$(echo $version | cut -d '.' -f 1)
          minorVersion=$(echo $version | cut -d '.' -f 2)
          git tag -f "$majorVersion"
          git tag -f "$majorVersion.$minorVersion"
          git push origin -f "$majorVersion"
          git push origin -f "$majorVersion.$minorVersion"
